/* ─────────────────────────────────────────────────────────────
 * Header Styles
 * Delete this file if not using header
 * ───────────────────────────────────────────────────────────── */

.header {
  /* Add header styles */
}
