/* ─────────────────────────────────────────────────────────────
 * Modal Styles
 * Delete this file if not using modals
 * ───────────────────────────────────────────────────────────── */

.popup {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  background-color: rgb(0 0 0 / 50%);
}

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
}

.popup__body {
  margin: auto;
  background-color: var(--white);
}
