<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<title>@@title</title>
<meta name="description" content="@@description" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="@@title" />
<meta property="og:description" content="@@description" />
<meta property="og:image" content="@@image" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="@@title" />
<meta name="twitter:description" content="@@description" />
<meta name="twitter:image" content="@@image" />

<link rel="icon" href="./assets/favicon.ico" />

<link rel="stylesheet" href="./styles/normalize.css" />
<link rel="stylesheet" href="./styles/vars.css" />
<link rel="stylesheet" href="./styles/fonts.css" />
<link rel="stylesheet" href="./styles/utils.css" />
<link rel="stylesheet" href="./styles/ui.css" />
<link rel="stylesheet" href="./styles/main.css" />
