<!-- Meta -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="description" content="Project description." />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Project" />
<meta property="og:description" content="Project description." />
<meta property="og:image" content="./assets/img/previews/global.webp" />
<meta property="og:url" content="" />

<!-- Favicon -->
<link rel="icon" href="./assets/favicon.ico" />

<!-- Styles -->
<link rel="stylesheet" href="./styles/normalize.css" />
<link rel="stylesheet" href="./styles/vars.css" />
<link rel="stylesheet" href="./styles/fonts.css" />
<link rel="stylesheet" href="./styles/utils.css" />
<link rel="stylesheet" href="./styles/ui.css" />
<link rel="stylesheet" href="./styles/main.css" />
